<section class="oe_container">
    <div class="oe_row oe_spaced">
	      <div class="oe_span12">
	          <h2 class="oe_slogan">Sync orders between restaurant staff</h2>
	          <h3 class="oe_slogan">Staff get order details immediately after waiter taps on tablet</h3>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="John.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                John is a waiter. He serve new restaurant customer. He made few clicks on his iPad and switched to other customers while dishes are prepared at the kitchen...
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="Alice.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                Dishes were fine and customer decided to order something else. John is far from the table and another waiter Alice added item to the order...
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="Bob.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                All orders are passed through the casher Bob. He registers payment on his terminal.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2>Need our service?</h2>
            <p class="oe_mt32">Contact us by <a href="mailto:it@it-projects.info">email</a> or fill out <a href="https://www.it-projects.info/page/website.contactus " target="_blank">request form</a></p>
            <ul>
                <li><a href="mailto:it@it-projects.info">it@it-projects.info <i class="fa fa-envelope-o"></i></a></li>
                <li><a href="https://www.it-projects.info/page/website.contactus " target="_blank">https://www.it-projects.info/page/website.contactus <i class="fa fa-list-alt"></i></a></li>
            </ul>
        </div>
    </div>
</section>
