<div class="oe_structure oe_empty" style="width:100%">
<section class="oe_container oe_dark" style="margin-top:16px">
    <div class="container " style="width:100%">
        <div class="oe_row">
            <div class="col-md-12">
            <h2 class="oe_slogan"><font color='#3b5998'>POS Loyalty Management</font></h2>
            </div>
        <div class="col-md-6">
            <p class="oe_mt32">
               <b>POS Loyalty Management:-</b>
            </p>
            <p>
               &#8220;Retention is the new scarcity&#8221;, Customer retention is the basic necessity for every business. Loyalty programs are formed with a view to retain long-term relationship with the customers. A loyal customer repetitively takes your services and stick to the supplier on certain grounds may be for the perks of getting more values and benefits though he may be having other options as well. Remember, always give people more than what they expect to get. To fulfill customer expectations, to show priority to them, to share values we have this module POS loyalty management where you can manage to give value or rewards in the form of loyalty points to your valuable customers on the basis of their purchase and the rules defined in the system. When the minimum points threshold defined in the system has been reached, customers can enjoy discounts by redeeming their loyalty points. This way people believe they share values with a company, they will stay loyal to the brand.
            </p>
        </div>
        <div class="col-md-6">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="pos_loyalty_view.png" >
            </div>
        </div>
    </div>
    </div>
</section>
</div>
<div class="oe_structure oe_empty" style="width:100%">
<section class="oe_container oe_dark" style="margin-top:16px">
    <div class="container" style="width:100%">
        <div class="oe_row">
        <div class="col-md-12 oe_row">
            <h2 class="oe_slogan"><font color='#3b5998'>Basic Features</font></h2> 
        </div>
        <div class='col-md-12'>
            <ul>
                <li>Customer earns loyalty points with every purchase of goods.</li>
                <li>Allocate loyalty points according to the pre defined rule(for every x purchase, y points will be allocated).</li>
                <li>Loyalty rule can be defined for the POS product category.</li>
                <li>Customer can redeem loyalty points as a discount(works in online mode only).</li>
                <li>Multiple redemption rules can be defined.</li>
                <li>It calculates Loyalty points earned taking into consideration the current transaction and display of total points earned in invoice receipt.</li>
                <li>It can handle multiple orders at a time.</li>
            </ul>
        </div>
        </div>
    </div>
</section>
</div>
<div class="oe_structure oe_empty" style="width:100%">
<section class="oe_container oe_dark" style="margin-top:25px">
    <div class="container" style="width:100%">
        <div class="oe_row">
        <div class="col-md-12 oe_row">
            <h4 class="oe_slogan">
            Create rules for calculating loyalty points
            </h4>
        </div>
        <div class="col-md-12 oe_row" style="width:100%">
            <img class="img img-responsive" src="new_rule.png">
        </div>
        </div>
    </div>
</section>
</div>
<div class="oe_structure oe_empty" style="width:100%">
<section class="oe_container oe_dark" style="margin-top:16px">
    <div class="container" style="width:100%">
        <div class="oe_row">
        <div class="col-md-12 oe_row">
            <h4 class="oe_slogan">
            Loyalty points can be calculated on basis of POS product category
            </h4>
        </div>
        <div class="col-md-12 oe_row" style="width:100%">
            <img class="img img-responsive" src="category_base.png">
        </div>
        </div>
    </div>
</section>
</div>
<div class="oe_structure oe_empty" style="width:100%">
<section class="oe_container oe_dark" style="margin-top:16px">
    <div class="container" style="width:100%">
        <div class="oe_row">
        <div class="col-md-12 oe_row">
            <h4 class="oe_slogan">
            Define loyalty points for a product category
            </h4>
        </div>
        <div class="col-md-12 oe_row" style="width:100%">
            <img class="img img-responsive" src="points_category_base.png">
        </div>
        </div>
    </div>
</section>
</div>
<div class="oe_structure oe_empty" style="width:100%">
<section class="oe_container oe_dark" style="margin-top:16px">
    <div class="container" style="width:100%">
        <div class="oe_row">
        <div class="col-md-12 oe_row">
            <h4 class="oe_slogan">
            Define rules to redeem loyalty points as discount
            </h4>
        </div>
        <div class="col-md-12 oe_row" style="width:100%">
            <img class="img img-responsive" src="rule_define.png">
        </div>
        </div>
    </div>
</section>
</div>
<div class="oe_structure oe_empty" style="width:100%">
<section class="oe_container oe_dark" style="margin-top:16px">
    <div class="container" style="width:100%">
        <div class="oe_row">
        <div class="col-md-12 oe_row">
            <h4 class="oe_slogan">
            Loyalty points will be displayed on POS
            </h4>
        </div>
        <div class="col-md-12 oe_row" style="width:100%">
            <img class="img img-responsive" src="pos_loyalty_view.png">
        </div>
        </div>
    </div>
</section>
</div>
<div class="oe_structure oe_empty" style="width:100%">
<section class="oe_container oe_dark" style="margin-top:16px">
    <div class="container" style="width:100%">
        <div class="oe_row">
        <div class="col-md-12 oe_row">
            <h4 class="oe_slogan">
            Redeem points earned by the customers
            </h4>
        </div>
        <div class="col-md-12 oe_row" style="width:100%">
            <img class="img img-responsive" src="redeem_point.png">
        </div>
        </div>
    </div>
</section>
</div>
<div class="oe_structure oe_empty" style="width:100%">
<section class="oe_container oe_dark" style="margin-top:16px">
    <div class="container" style="width:100%">
        <div class="oe_row">
        <div class="col-md-12 oe_row">
            <h4 class="oe_slogan">
            Display of total points earned in Invoice receipt
            </h4>
        </div>
        <div class="col-md-12 oe_row" style="width:100%">
            <img class="img img-responsive" src="loyalty_point.png">
        </div>
        </div>
    </div>
</section>
</div>
<div class="oe_structure oe_empty" style="width:100%">
<section class="oe_container oe_dark" style="margin-top:16px">
    <div class="container" style="width:100%">
        <div class="oe_row">
        <div class="col-md-12 oe_row">
            <h4 class="oe_slogan">
            Points are rewarded for every purchase
            </h4>
        </div>
        <div class="col-md-12 oe_row" style="width:100%">
            <img class="img img-responsive" src="invoice_point.png">
        </div>
        </div>
    </div>
</section>
</div>
<div class="oe_structure oe_empty" style="width:100%">
<section class="oe_container oe_dark" style="margin-top:16px">
    <div class="container" style="width:100%">
        <div class="oe_row">
        <div class="col-md-12 oe_row">
            <h4 class="oe_slogan">
            Total loyalty points earned by the customer
            </h4>
        </div>
        <div class="col-md-12 oe_row" style="width:100%">
            <img class="img img-responsive" src="customer_point.png">
        </div>
        </div>
    </div>
</section>
</div>
<section class="mt16 mb16" style="margin-top:16px">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Help and Support</h2>
        </div>
        <div class="oe_slogan">
            <img src="icon-help.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" href="https://webkul.com/ticket/open.php">Help</a></span>
            <img src="icon-support.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" href="https://webkul.com/ticket/open.php">Support</a></span>
            <img src="icon-features.png">
            <span ><a onMouseOver="this.style.color='#AC1EE0'"
   onMouseOut="this.style.color='#7c7bad'" style="color:#7c7bad;" href="https://webkul.com/ticket/open.php">Request new Features</a></span>
        </div>
    </div>
</section>

