<section class="oe_container oe_dark">
    <div class="mt32 mb32">
        <div class="col-md-12">
            <h2 class="oe_slogan">Professionally Designed Invoice, P.O, R.F.Q, S.O, Quotation, Delivery Note and Picking List Templates</h2>
            <h3 class="oe_slogan">Take your business to the next level by using professionally designed reports templates for your Invoices, Sales Orders, Quotations, RFQs, Purchase Orders, Delivery Notes and   Picking Lists. 
            
            Ensure that you use your company theme colors, high resolution logos  and uniform design in all your business reports. 
            
            This Module will install five customizable templates for every document mentioned above. You will be able to select one among the five templates for each document/report and customize it with a nice large company logo, your company colors, any font color you want, any font family and size or even the background color of the invoice lines or sales order lines depending on which document you are customizing</h3>
            <h4 class="oe_slogan"><span class="label label-info orders_label_text_align"> <span class="fa fa-star-o fa-spin"/> New Version Released For Odoo 9: Jan 7, 2017</span></h4>
        </div>
    </div>
</section>

<!--ONE-->
<section>
<div class="container mt32">
        <div class="col-md-12 mb32">
            <div class="col-md-4">
                <div class="text-center">
                    <div class="dt-iconboxes layout-6 text-center">
                        <i class="fa fa-thumbs-up fa-4x"></i>
                        <h4>Stand Out; Be Different!</h4>
                        <div class="dt-iconboxes-text">
                            <p style="text-align: justify;">The most important thing in business is a persona. With this App, you have not just one but 4 distinct professional templates to help you stand out from competition.The templates have a contemporary outlook and option to link customers  to your 3 main social media pages.They are easily customizable to have a look and feel of your business. Use the best business Logo to spice up your theme.You can associate a customer/partner with  a certain template or you can just set a default template for all your customers. You can translate the templates to the language your customer/partner speaks. The original Odoo template is not left out, just in case you want to fallback.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <div class="dt-iconboxes layout-6">
                        <span class="fa fa-font fa-4x"></span>
                        <h4>Pick A Font-Family</h4>
                        <div class="dt-iconboxes-text">
                            <p style="text-align: justify;">Don't forget to choose the best font family to use in your reports. Once you install your favorite font in your Odoo server, simply set the name of the font in the settings and forget!. This App will use it entirely in your PDF report. It is important to choose and use the right font as it improves readability of your documents helping your business to stay ahead of competition in terms of customer experience.If you choose non existing font family, your reports will fall back to the default HTML font-family; which is ``Times New Roman``. The default font family set in this App is ``san-serif``
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <div class="dt-iconboxes layout-6">
                        <i class="fa fa-sort fa-4x"></i>
                        <h4>Pick A Font-Size</h4>
                        <div class="dt-iconboxes-text">
                            <p style="text-align: justify;">Font-sizing is equally important as font-family. Readability of your content depends largely on the size of the font used.This App will allow you to independently set the font size of your ``Header`` content, ``Body`` content and ``Footer`` of your report. Fonts are set in pixels dimension and as a general rule a font size between 8-14 pixels is good enough but it also depends on the content and section of the document.Titles and sections that require larger size of font are scaled automatically based on the font size you have chosen.The font sizes are selected from a drop-down list between 1and 50 pixels.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>

<!--TWO-->
<section>
<div class="container mt32">
        <div class="col-md-12 mb32">
            <div class="col-md-4">
                <div class="text-center">
                    <div class="dt-iconboxes layout-6 text-center">
                        <i class="fa fa-paint-brush fa-4x"></i>
                        <h4>Pick A Font-Color</h4>
                        <div class="dt-iconboxes-text">
                            <p style="text-align: justify;"> The choice of the font color of the content of your documents is in your hands. No restriction at all. 
                            Simply pick the right color by specifying the Hex color code e.g #372E33. Color matching and pairing is important but not hard to achieve. Make sure the colors you pick are matching the overall theme of your business. You will be able to pick at least 4 different font-colors; The overall ``Text Color`` of the document content, The ``Theme Text Color``, The ``Company Name Color`` and the ``Customer/Partner Name Color``.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <div class="dt-iconboxes layout-6">
                        <span class="fa fa-picture-o fa-4x"></span>
                        <h4>Pick A Theme Color</h4>
                        <div class="dt-iconboxes-text">
                            <p style="text-align: justify;">Every business has a theme and the most important theme element is color. Your documents should have a stunning and distinct appearance from the rest in order for  your customers to easily identify you. In every template you choose, you will be able to set the main ``Theme Color``. This Color will be used extensively in most of the sections of the report such as in the table header as the background color and many more sections depending on the template design. It is a good idea to match or use complimentary colors for your theme color  and company logo in order to achieve great harmony.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <div class="dt-iconboxes layout-6">
                        <i class="fa fa-align-justify fa-4x"></i>
                        <h4>Color Alternate Rows</h4>
                        <div class="dt-iconboxes-text">
                            <p style="text-align: justify;">For improved readability of table content with several rows of data, it is better to use different background colors for alternate rows. This will achieve a zebra stripped rows of content that are easy to follow.This feature has been implemented in this App to help improve the readability of your documents. Simply state the background color of your ``Odd`` and ``Even`` lines and it will be implemented in your PDF documents printed. Additionally, all rows of data are automatically numbered for easy reference.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>

<!--THREE-->
<section>
<div class="container mt32">
        <div class="col-md-12 mb32">
            <div class="col-md-4">
                <div class="text-center">
                    <div class="dt-iconboxes layout-6 text-center">
                        <i class="fa fa-language fa-4x"></i>
                        <h4>Translate Your Documents</h4>
                        <div class="dt-iconboxes-text">
                            <p style="text-align: justify;"> If language is not correct, then what is said is not what is meant. Thanks to Odoo Translation Feature which has been enabled in this App as well. Translation to any language is possible in all the templates. The language to translate to is set in the Customer/Partner object in Odoo. If you need any help in finding the right place to do translation in Odoo, simply open a support ticket with us by sending us an email to contacts shown at the bottom of this page. 

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <div class="dt-iconboxes layout-6">
                        <span class="fa fa-wrench fa-4x"></span>
                        <h4>Easy Configuration</h4>
                        <div class="dt-iconboxes-text">
                            <p style="text-align: justify;">This is a ``Set & Forget`` kind of App which does not take much of your time to deploy and configure once and for all. It comes with default parameters as examples during the configuration. There are also ``Tool Tips`` added to guide you in the process. It takes less than 5 minutes to configure and use it for the first time. In case you need more documentation, you can refer to the module Installation page.We also offer free support via email or phone. We recommend ``wkhtmltopdf`` version 0.12.3 or higher for excellent PDF reports.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <div class="dt-iconboxes layout-6">
                        <i class="fa fa-user-md fa-4x"></i>
                        <h4>Wonderful Support</h4>
                        <div class="dt-iconboxes-text">
                            <p style="text-align: justify;"> This is one of the most downloaded App in its category and which such a large number of businesses using it, we have gotten a lot of feedback from users that has helped us fix bugs, improve its performance and features. Currently there are no much reported issues but we continue to update and fix known issues on regular basis. Our Support team is keen and dedicated to offer any help and listen to your needs. We offer unconditional free support as soon as you purchase it. We also help you to customize it further in case it is necessary 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>
<section class="container mt32">
    <div class="col-md-12 mb32">
        <div class="col-md-6">
            <div class="text-center">
                <div class="dt-iconboxes layout-6 text-center">
                    <i class="fa fa-text-width fa-4x"></i>
                    <h4>Amount in Words</h4>
                    <div class="dt-iconboxes-text">
                        <p style="text-align: justify;">Now it is possible to automatically convert the invoice amount, quote amount, sales order amount, RFQ amount and purchase order amount into words. The amount in words can be displayed in 13 different languages:
                            <ul class="text-left">
                                <li>en (English, default)</li>
                                <li>fr (French)</li>
                                <li>de (German)</li>
                                <li>es (Spanish)</li>
                                <li>lt (Lithuanian)</li>
                                <li>lv (Latvian)</li>
                                <li>en_GB (British English)</li>
                                <li>en_IN (Indian English)</li>
                                <li>no (Norwegian)</li>
                                <li>pl (Polish)</li>
                                <li>ru (Russian)</li>
                                <li>dk (Danish)</li>
                                <li>pt_BR (Brazilian Portuguese)</li>
                            </ul>Note that it is possible to disable this feature if you don't require it.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center mt128">
                <img style="display:inline-block;" class="oe_picture oe_screenshot" src="aiw.png">
            </div>
        </div>
    </div>
</section>


<section class="container mt32">
    <div class="col-md-12 mb32">
        <div class="col-md-6">
            <div class="text-center mt128">
                <img style="display:inline-block;" class="oe_picture oe_screenshot" src="status.png">
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <div class="dt-iconboxes layout-6 text-center">
                    <i class="fa fa-info fa-4x"></i>
                    <h4>Invoice Status and Payment info</h4>
                    <div class="dt-iconboxes-text">
                        <p style="text-align: justify;">When a customer makes a payment and you register the payment in Odoo, The transaction will be displayed on the Invoice.The paid invoice can therefore act as a receipt and can be sent to customer as a proof of payment received. Also, The invoice will display the current status whether it has been fully paid, not paid, partially paid, draft, cancelled e.t.c. Below are the complete invoice statuses:
                        <div class="col-md-6">
                            <ul class="text-left">
                                <li style="margin:2px;"><span class="label label-success orders_label_text_align"><span class="fa fa-fw fa-check"/> No charge</span></li>
                                <li style="margin:2px;"><span class="label label-success orders_label_text_align"><span class="fa fa-fw fa-check"/> Fully Paid</span></li>
                                <li style="margin:2px;"><span class="label label-success orders_label_text_align"><span class="fa fa-fw fa-check"/> Fully Refunded</span></li>
                                <li style="margin:2px;"><span class="label label-info orders_label_text_align"><span class="fa fa-fw fa-times"/> Unpaid</span></li>
                                <li style="margin:2px;"><span class="label label-info orders_label_text_align"><span class="fa fa-fw fa-times"/> Not Refunded</span></li>
                                <li style="margin:2px;"><span class="label label-info orders_label_text_align"><span class="fa fa-fw fa-times-circle-o"/> Partially Paid</span></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="text-left">
                                <li style="margin:2px;"><span class="label label-info orders_label_text_align"><span class="fa fa-fw fa-times-circle-o"/> Partially Refunded</span></li>
                                <li style="margin:2px;"><span class="label label-warning orders_label_text_align"><span class="fa fa-fw fa-asterisk"/> Not Issued</span></li>
                                <li style="margin:2px;"><span class="label label-warning orders_label_text_align"><span class="fa fa-fw fa-asterisk"/> Pro-Forma</span></li>
                                <li style="margin:2px;"><span class="label label-warning orders_label_text_align"><span class="fa fa-fw fa-clock-o"/> Overdue</span></li>
                                <li style="margin:2px;"><span class="label label-danger orders_label_text_align"><span class="fa fa-fw fa-ban"/> Cancelled</span></li>
                            </ul>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container mt32">
    <div class="col-md-12 mb32">
        <div class="col-md-6">
            <div class="text-center">
                <div class="dt-iconboxes layout-6 text-center">
                    <i class="fa fa-camera fa-4x"></i>
                    <h4>Display Product Image on PDF Report</h4>
                    <div class="dt-iconboxes-text">
                        <p style="text-align: justify;">Now it is possible to display the product image on Sales Order, Quotation, Invoice, Delivery Note and Picking Slip. This feature is enabled by default but you can disable it in the report settings if not needed.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center mt16">
                <img style="display:inline-block;" class="oe_picture oe_screenshot" src="show_img.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="mt32">
        <div class="col-md-12 mb32">
            <h4 class="oe_slogan">Create Your Report Styles</h4>
            <div class="text-center">
            <h5 class="oe_slogan">MENU: Settings <span class="fa fa-long-arrow-right"/> Technical <span class="fa fa-long-arrow-right"/> Reports <span class="fa fa-long-arrow-right"/> Report Styles</h5>
                <img style="display:inline-block;" class="oe_picture oe_screenshot" src="set1.png">
            </div>
            <div class="text-center">
                <img style="display:inline-block;" class="oe_picture oe_screenshot" src="set2.png">
            </div>
            <div class="text-center">
                <img style="display:inline-block;" class="oe_picture oe_screenshot" src="set3.png">
            </div>
        </div>
    </div>
</section>

<section class="container mt32">
    <div class="col-md-12 mb32">
        <h4 class="oe_slogan">Assign a Report Style to a Partner or a Report</h4>
        <div class="text-center">
            <img style="display:inline-block;" class="oe_picture oe_screenshot" src="pat_set.png">
        </div>
        <div class="text-center">
            <img style="display:inline-block;" class="oe_picture oe_screenshot" src="inv_set.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="mt32">
        <div class="col-md-12 mb32">
            <div class="text-center">
                <h4 class="oe_slogan">Invoice: {'Template': Modern, 'font-family': san-serif, 'font-size': 10px, 'Theme Color': #545454} </h4>
                <img style="display:inline-block;" class="oe_picture oe_screenshot" src="invoice1.png">
            </div>
            <div class="text-center">
                <h4 class="oe_slogan">Invoice: {'Template': Retro, 'font-family': dosis, 'font-size': 12px, 'Theme Color': #9ABE00} </h4>
                <img style="display:inline-block;" class="oe_picture oe_screenshot" src="invoice2.png">
            </div>
        </div>
    </div>
</section>

<section class="container mt32">
    <div class="col-md-12 mb32">
        <div class="text-center">
            <h4 class="oe_slogan">Quotation: {'Template': Classic, 'font-family': corbel, 'font-size': 10px, 'Theme Color': #009ABE} </h4>
            <img style="display:inline-block;" class="oe_picture oe_screenshot" src="quote1.png">
        </div>
        <div class="text-center">
            <h4 class="oe_slogan">Quotation: {'Template': TVA, 'font-family': Arial, 'font-size': 12px, 'Theme Color': #9A00BE} </h4>
            <img style="display:inline-block;" class="oe_picture oe_screenshot" src="quote2.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="mt32">
        <div class="col-md-12 mb32">
            <div class="text-center">
                <h4 class="oe_slogan">R.F.Q: {'Template': Modern, 'font-family': FontAwesome, 'font-size': 10px, 'Theme Color': #F07C4D} </h4>
                <img style="display:inline-block;" class="oe_picture oe_screenshot" src="rfq1.png">
            </div>
            <div class="text-center">
                <h4 class="oe_slogan">R.F.Q: {'Template': Retro, 'font-family': Georgia, 'font-size': 11px, 'Theme Color': #33ECFF} </h4>
                <img style="display:inline-block;" class="oe_picture oe_screenshot" src="rfq2.png">
            </div>
        </div>
    </div>
</section>

<section class="container mt32">
    <div class="col-md-12 mb32">
        <div class="text-center">
            <h4 class="oe_slogan">Delivery Note: {'Template': Classic, 'font-family': Bradley Hand, 'font-size': 11px, 'Theme Color': #FF337A} </h4>
            <img style="display:inline-block;" class="oe_picture oe_screenshot" src="dnote1.png">
        </div>
        <div class="text-center">
            <h4 class="oe_slogan">Delivery Note: {'Template': TVA, 'font-family': Calibri, 'font-size': 10px, 'Theme Color': #3380FF} </h4>
            <img style="display:inline-block;" class="oe_picture oe_screenshot" src="dnote2.png">
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="mt32">
        <div class="col-md-12 mb32">
            <div class="text-center">
                <h4 class="oe_slogan">Purchase Order: {'Template': Modern, 'font-family': NoticiaText, 'font-size': 11px, 'Theme Color': #8333FF} </h4>
                <img style="display:inline-block;" class="oe_picture oe_screenshot" src="po1.png">
            </div>
            <div class="text-center">
                <h4 class="oe_slogan">Purchase Order: {'Template': Retro, 'font-family': Trebuchet MS, 'font-size': 12px, 'Theme Color': #FF3352} </h4>
                <img style="display:inline-block;" class="oe_picture oe_screenshot" src="po2.png">
            </div>
        </div>
    </div>
</section>

<section class="container mt32">
    <div class="col-md-12 mb32">
        <div class="text-center">
            <h4 class="oe_slogan">Sales Order: {'Template': Classic, 'font-family': Marvel, 'font-size': 10px, 'Theme Color': #1E8449} </h4>
            <img style="display:inline-block;" class="oe_picture oe_screenshot" src="order1.png">
        </div>
        <div class="text-center">
            <h4 class="oe_slogan">Sales Order: {'Template': TVA, 'font-family': Rosario, 'font-size': 11px, 'Theme Color': #FFC300} </h4>
            <img style="display:inline-block;" class="oe_picture oe_screenshot" src="order2.png">
        </div>
    </div>
</section>
<section class="container">
    <div class="oe_dark oe_quote">
        <div class="col-md-12">
            <div class="col-md-6">
                <h2 class="oe_slogan">Odoo Support Services</h2>
                <h3 class="oe_slogan">For bug reporting and fixing, enjoy our odoo support and development services from experienced team in Kenya</h3>
                <q>
                   We are a highly qualified team of well-rounded software engineers and applications systems integrators specialised in open source ERP solutions for SMEs all over the world 
                </q>
            </div>
            <div class="col-md-6 text-center">
                <div class="col-md-12 mt92">
                    <div class="col-md-6 text-left">
                        <div class="oe_author">Contacts</div>
                        <div class="oe_job"><i class="fa fa-envelope"></i> <span><a href="mailto:Optima ICT<support@optima.co.ke>" target="_blank">support@optima.co.ke</a></span></div>
                        <div class="oe_job"></br><i class="fa fa-mobile fa-2x"></i> <span><a href="tel:+254715956855" target="_blank">+254 715 956 855</a></span></div>
                        <div class="oe_job"></br><i class="fa fa-phone-square"></i> <span><a href="tel:+254205242032" target="_blank">+254 20 524 2032</a></span></div>
                        <div class="oe_job"></br><i class="fa fa-skype"></i> <span><a href="skype:kamoing" target="_blank">kamoing</a></span></div>
                        <div class="oe_job"></br><i class="fa fa-facebook-square"></i> <span><a href="https://www.facebook.com/OptimaICT/" target="_blank">OptimaICT</a></span></div>
                        <div class="oe_job"></br><i class="fa fa-google-plus-square"></i> <span><a href="https://plus.google.com/+optimaCoKeICT" target="_blank">+optimaCoKeICT</a></span></div>
                        <div class="oe_job"></br><i class="fa fa-twitter-square"></i> <span><a href="https://twitter.com/optima_ICT" target="_blank">@optima_ICT</a></span></div>
                        <div class="oe_job"></br><i class="fa fa-globe"></i> <span><a href="http://www.optima.co.ke" target="_blank">www.optima.co.ke</a></span></div>
                    </div>
                    <div class="col-md-6">
                        <img class="oe_photo" src="optima-odoo.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
