
.pos .order .create-layby-button {
    font-size:14px;
    color: white;
    background-color: rgb(110,200,155);
}
.pos .order .create-order-button {
    font-size:14px;
    color: white;
    background-color: rgb(110,200,155);
}

.pos .modal-dialog .popup{
    position: absolute;
    left:50%;
    top:50%;
    width:400px;
    height:200px;
    margin-left: -250px;
    margin-top: -200px;
    padding:10px;
    padding-top:20px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    background-color: #F0EEEE;
    border-radius: 3px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
    z-index:1200;
}

.pos .clientlist-screen .layby-order-list{
    font-size: 16px;
    width: 100%;
    line-height: 40px;
}
.pos .clientlist-screen .layby-order-list th,
.pos .clientlist-screen .layby-order-list td {
    padding: 0px 8px;
}
.pos .clientlist-screen .layby-order-list tr{
    transition: all 150ms linear;
    background: rgb(230,230,230);
}
.pos .clientlist-screen .layby-order-list thead > tr,
.pos .clientlist-screen .layby-order-list tr:nth-child(even) {
    background: rgb(247,247,247);
}
.pos .clientlist-screen .layby-order-list tr.highlight{
    transition: all 150ms linear;
    background: rgb(110,200,155) !important;
    color: white;
}
.pos .clientlist-screen .layby-order-list tr.lowlight{
    transition: all 150ms linear;
    background: rgb(216, 238, 227);
}
.pos .clientlist-screen .layby-order-list tr.lowlight:nth-child(even){
    transition: all 150ms linear;
    background: rgb(227, 246, 237);
}
.screen .client-details .button {
    top: 0px;
    line-height: 32px;
    padding: 3px 13px;
    font-size: 20px;
    background: rgb(230, 230, 230);
    margin: 12px;
    border-radius: 3px;
    border: solid 1px rgb(209, 209, 209);
    cursor: pointer;
}
.screen .client-details .button.highlight{
    background: rgb(110,200,155);
    color: white;
    border: solid 1px rgb(110,200,155);
}